*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Verdana, sans-serif;
    
}

html{
    background-color:#0B6E4F;
    margin-left:-40px;
   
}

.box{
    background-color:#053225;
    height:220px;
    width:300px;
    position:relative;
    top: 200px;;
    left: 500px;
    border-radius:10px;
    
}

.title{
    position:absolute;
    top:15px;
    left:105px;
    font-weight: 1000;
    color:white;
}

.login{
    position:absolute;
    top:50px;
    background-color:white;
    width:100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;;
}

.login #email input{
    color:grey;
    height:25px;
    width:280px;
    padding-left:5px;
    margin:10px;
}

.login #password input{
    color:grey;
    width:280px;
    height:25px;
    padding-left:5px;
    margin:10px;
}

.login #forgottenPassword{
    margin:10px;
    padding-left:5px;
    font-size:13px;
}

.login #forgottenPassword a{
    color:#053225;
    text-decoration:none;
}

.login #forgottenPassword a:hover{
    text-decoration: underline;
}

.login #login input{
    text-align:center;
    background-color:#053225;
    border:0.5px solid grey;
    border-radius:5px;
    width:280px;
    height:25px;
    margin:10px;
    font-size:15px;
    color:white;
}

.login #login input:hover{
    background:#0B6E4F;
}

.login #signup{
    margin-bottom:10px;
    text-align:center;
    font-size:13px;
}

.login #signup a{
    color:#053225;
    text-decoration:none;
}   

.login #signup a:hover{
    text-decoration: underline;
}
